.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.name{
    color: White;
   
    

}
.header{
    text-align: Center;
   
}

img:hover{
    transform: translate(3%, 3%);
   
}
img{
    border:8px;
    border-style: outset;
    border-color: orange;
}
a:link{

    color: rgba(253, 167, 7, 0.918);
}
a:visited{
    color: rgba(10, 201, 226, 0.747);
}


